{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
  "setGallerySize": true,
  "wrapAround": true,
  "watchCSS": true,
  "dragThreshold": 8
}
{%- endcapture -%}

<section id="section-{{ section.id }}">
  <div class="collectiont_discription">

    {%- if section.settings.title != blank -%}
      <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.title | escape }}</h3>
    {%- endif -%}

    {%- if section.settings.title_head != blank -%}
      <h3 class="section_header SectionHeader__Heading Heading u-h6" style="font-size: 20px">{{ section.settings.title_head | escape }}</h3>
    {%- endif -%}

    {%- if section.settings.title_content != blank -%}
      <p class="SectionHeader__Content">{{ section.settings.title_content | escape }}</p>
    {%- endif -%}
  </div>

  <div class="collections">
    {% for block in section.blocks %}
      <div class="collection">

        {% if block.settings.collection != blank %}
          <a href="{{ block.settings.collection }}">
            {{ block.settings.image | img_url: '323x451' | img_tag  }}
          </a>

          <div class="collection__title">
            {%- if block.settings.subheading != blank or block.settings.title != blank or block.settings.content != blank -%}
              <header class="SectionHeader">
                {%- if block.settings.subheading != blank -%}
                  <p class="SectionHeader__SubHeading Heading u-h6">{{ block.settings.subheading | escape }}</p>
                {%- endif -%}

                {%- if block.settings.title != blank -%}
                  <p class="SectionHeader__Heading">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="SectionHeader__Description Rte">
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}

                {%- if block.settings.button_link != blank -%}
                  <a href="{{ block.settings.button_link }}" class="Link_Button">{{ block.settings.button_text | escape }}</a>
                {%- endif -%}
              </header>
            {%- endif -%}
          </div>
        {% else %}
          <div>Add "Collection" please.</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

{% comment %}
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="collection-list">
  {%- capture collection_items -%}
    {%- for block in section.blocks -%}
      {%- assign collection = collections[block.settings.collection] -%}
      {%- render 'collection-item', block: block, collection: collection, apply_overlay: block.settings.apply_overlay -%}
    {%- endfor -%}
  {%- endcapture -%}

  {%- if section.settings.stack_on_mobile -%}
    <div class="CollectionList CollectionList--grid {% if section.settings.add_spacing %}CollectionList--spaced{% endif %}">
      {{ collection_items }}
    </div>
  {%- else -%}
    <div class="Carousel Carousel--insideDots CollectionList {% if section.settings.add_spacing %}CollectionList--spaced{% endif %}" data-flickity-config='{{ flickity_options }}'>
      {{ collection_items }}
    </div>
  {%- endif -%}
</section> {% endcomment %}
{% comment %}
<style>
  #section-{{ section.id }} .CollectionItem .Heading,
  #section-{{ section.id }} .flickity-page-dots {
    color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .CollectionItem__Link {
    color: {{ section.settings.button_color }};
    border-color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .CollectionItem__Link::before {
    background-color: {{ section.settings.text_color }};
  }

  {%- if settings.show_button_transition -%}
    @media (-moz-touch-enabled: 0), (hover: hover) {
      #section-{{ section.id }} .CollectionItem__Link:hover {
        color: {{ section.settings.text_color }};
      }
    }
  {%- endif -%}
</style>{% endcomment %}

<style>
#section-{{ section.id }} {
  background-color: #f1f1f1;
  padding-top: 120px;
  padding-bottom: 120px;
}
.collectiont_discription {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 140px;
}
.collections {
    display: flex;
    justify-content: space-evenly;
  }
.SectionHeader__Heading, {
  font-size: 11px;
  letter-spacing: .2em;
  margin-top: 20px;
  margin-bottom: 5px;
}
.Link_Button {
  font-size: 11px;
  color: #9b9b9b;
  letter-spacing: .2em;
  margin-top: 5px;
  padding-left: 0;
  text-decoration: underline;
  padding-top: 0;
}
.SectionHeader__Content {
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  margin: 20px 20% 5px;
  line-height: 1.65;
  text-align: center;
  color: #1c1b1b
}

</style>

{% schema %}
{
  "name": "List with collections",
  "tag": "section",
  "class": "section",
  "max_blocks": 18,
  "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Sub-heading",
          "default": "Collections"
        },
        {
          "type": "text",
          "id": "title_head",
          "label": "Heading",
          "default": "Inscription"
        },
        {
          "type": "text",
          "id": "title_content",
          "label": "Text",
          "default": "Add your text"
        }
    // {
    //   "type": "range",
    //   "id": "coll_row",
    //   "min": 1,
    //   "max": 12,
    //   "step": 1,
    //   "label": "Collections per row",
    //   "default": 4
    // }
    // {
    //   "type": "select",
    //   "id": "image_size",
    //   "label": "Image size",
    //   "options": [
    //     {
    //       "value": "small",
    //       "label": "Small"
    //     },
    //     {
    //       "value": "normal",
    //       "label": "Normal"
    //     },
    //     {
    //       "value": "large",
    //       "label": "Large"
    //     }
    //   ],
    //   "default": "normal"
    // },
    // {
    //   "type": "checkbox",
    //   "id": "add_spacing",
    //   "label": "Add spacing",
    //   "default": true
    // },
    // {
    //   "type": "checkbox",
    //   "id": "expand_collection",
    //   "label": "Expand collections to fill row",
    //   "default": false
    // },
    // {
    //   "type": "checkbox",
    //   "id": "stack_on_mobile",
    //   "label": "Stack on mobile",
    //   "default": true
    // },
    // {
    //   "type": "color",
    //   "id": "text_color",
    //   "label": "Text",
    //   "default": "#ffffff"
    // },
  //   {
  //     "type": "color",
  //     "id": "button_color",
  //     "label": "Button text",
  //     "default": "#363636"
  //   }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1120 x 1200px.jpg recommended"
        },
        // {
        //   "type": "select",
        //   "id": "image_alignment",
        //   "label": "Image alignment",
        //   "options": [
        //     {
        //       "value": "top left",
        //       "label": "Top left"
        //     },
        //     {
        //       "value": "top center",
        //       "label": "Top center"
        //     },
        //     {
        //       "value": "top right",
        //       "label": "Top right"
        //     },
        //     {
        //       "value": "center left",
        //       "label": "Middle left"
        //     },
        //     {
        //       "value": "center center",
        //       "label": "Middle center"
        //     },
        //     {
        //       "value": "center right",
        //       "label": "Middle right"
        //     },
        //     {
        //       "value": "bottom left",
        //       "label": "Bottom left"
        //     },
        //     {
        //       "value": "bottom center",
        //       "label": "Bottom center"
        //     },
        //     {
        //       "value": "bottom right",
        //       "label": "Bottom right"
        //     }
        //   ],
        //   "default": "center center"
        // },
        // // {
        //   "type": "select",
        //   "id": "content_position",
        //   "label": "Content position",
        //   "options": [
        //     {
        //       "value": "middleLeft",
        //       "label": "Middle left"
        //     },
        //     {
        //       "value": "middleRight",
        //       "label": "Middle right"
        //     },
        //     {
        //       "value": "middleCenter",
        //       "label": "Middle center"
        //     },
        //     {
        //       "value": "bottomLeft",
        //       "label": "Bottom left"
        //     },
        //     {
        //       "value": "bottomRight",
        //       "label": "Bottom right"
        //     },
        //     {
        //       "value": "bottomCenter",
        //       "label": "Bottom center"
        //     }
        //   ],
        //   "default": "bottomLeft"
        // },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "Sub-heading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Collection name"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View products"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "info": "If none is set, collection URL is used."
        },
        {
          "type": "checkbox",
          "id": "apply_overlay",
          "label": "Apply overlay on image",
          "info": "This can improve text visibility.",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "List with collections",
      "settings": {},
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}